.nav {
  background-color: #FCFBFB;
  padding-top: 2.5rem;

  .navItem {
    display: flex;
    align-items: center;
    height: 3rem;
    margin: 0 0 1.5rem 0;
    padding-left: 25%;
    cursor: pointer;

    .navItemLogo {
      width: 1rem;
      height: 1rem;
      margin-right: 4%;
    }

    .navItemTitle {
      font-style: normal;
      font-weight: 400;
      font-size: 1.3rem;
      color: black;
    }
  }

  .navItemActive {
    border-right: 2px solid #F8346B;

    .navItemLogo * {
      fill: #F8346B;
    }

    .navItemTitle {
      color: #F8346B;
    }
  }
}