@import 'src/style/variables/fonts/fonts';
@import 'src/style/variables/colors/background';

.app {
  width: 100%;
  min-height: 100vh;
  font-family: $fontFamily;
  display: grid;
  grid-template-rows: 4rem 93%;

  .wrapper {
    display: grid;
    grid-template-columns: 14% 86%;

    main {
      background-color: $middleGray;
      padding: 2rem;

      .content {
        min-height: 100%;
        position: relative;
      }
    }
  }
}