@import 'src/style/variables/colors/common';

.Input {
  display: flex;
  gap: 0.5rem;
  height: 2.4rem;
  padding: 0.5rem;
  border: 1px solid $grayBorder;

  input {
    width: 90%;
    background: inherit;
  }
}