@import 'src/style/variables/colors/background';

.btn {
  padding: 1rem 2rem;
  background-color: inherit;
  border: 1px solid;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;

  &:hover {
    color: $darkGray;
    border: 1px solid $darkGray;
  }
}