@import 'src/style/variables/colors/background';
@import 'src/style/variables/colors/common';

.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  .popupContent {
    background: $lightGray;
    border-radius: 1rem;
    padding: 3.5rem 4.5rem;
    transform: scale(0.5);
    transition: 0.4s all;

    &.active {
      transform: scale(1);
    }

    .popupHeader {
      line-height: 2.5rem;

      .popupTitle {
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
      }

      .popupDescription {
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: $darkGrayText;
      }
    }
  }
}