@import 'src/style/variables/colors/common';

.searchInput {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  height: 2.4rem;
  padding: 0.5rem;
  border: 1px solid $grayBorder;

  input {
    width: 95%;
    background: inherit;
  }
}