@import 'src/style/variables/colors/common';

.pageWrapper {
  width: 100%;
  min-height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid $grayBorder;
}

.contentList {
  position: relative;
  padding: 1.7rem 0;
}

.contentFooter {
  width: 100%;
  position: absolute;
  bottom: -1.5rem;
  text-align: center;
}

.noContent {
  position: absolute;
  left: 50%;
  color: $darkGrayText;
  text-align: center;
}