@import 'src/style/variables/colors/background';

.pageWrapper {
    width: 100%;
    min-height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .formWrapper {
        background: white;
        padding: 3rem 0;
        border: 1.5px solid rgba(29, 33, 38, 0.1);
        border-radius: 1rem;
        width: 21rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 2rem;

        h1 {
            font-size: 22px;
            font-weight: 400;
        }

        h2 {
            color: $darkGray;
        }

        .loginForm {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding: 1.5rem 0;

            .inputGroup {
                width: 15rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }
    }
}