.blogCard {
  display: flex;
  width: 80%;
  min-height: 10rem;
  padding: 1rem;
  border-bottom: 1px solid #DEDBDC;

  .blogImage {
    width: 10rem;
    padding: 0 0.5rem;
  }

  .blogCardInfo {
    width: 90%;
    height: 80%;

    .blogCardInfoHeader {
      padding-bottom: 1rem;

      .blogTitle {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        padding-bottom: 0.3rem;
        line-height: 20px;
      }
    }

    .blogWebsite {
      color: #737067;
    }

    .blogDescription {
      line-height: 20px;
    }

  }
}